---
export interface Props {
  picToShow: ImageMetadata;
}

import { Picture } from "@astrojs/image/components";

const { picToShow } = Astro.props;
---

<a href={picToShow.src}>
  <Picture src={picToShow} widths={[50, 100, 800]} sizes="(max-width: 400px) 50vw, (max-width: 800px) 100vw, 800px" alt="some desc."/>
</a>
