---
import Layout from "../../layouts/Layout.astro";
import PicComp from "../../components/SingleFoto.astro";
import pic442 from "../../images/P1000442.jpg";
import pic445 from "../../images/P1000445.jpg";
import pic452 from "../../images/P1000452.jpg";
import pic453 from "../../images/P1000453.jpg";
---

<Layout pageTitle="Rimini 1994">
  <main>
    <ul role="list" class="link-card-grid">
      <PicComp picToShow={pic442} />
      <PicComp picToShow={pic445} />
      <PicComp picToShow={pic452} />
      <PicComp picToShow={pic453} />
    </ul>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
