---
import Layout from "../../layouts/Layout.astro"
import { Picture } from '@astrojs/image/components';
---

<Layout pageTitle="Rimini 1994">
	<main>
    <a href="../../images/P1000442.jpg">
      <Picture src={import('../../images/P1000442.jpg')} widths={[50, 100, 800]} sizes="(max-width: 400px) 50vw, (max-width: 800px) 100vw, 800px" alt="some desc."/>
    </a>
    <Picture src={import('../../images/P1000445.jpg')} widths={[50, 100, 800]} sizes="(max-width: 400px) 50vw, (max-width: 800px) 100vw, 800px"  alt="some desc."/>
    <Picture src={import('../../images/P1000452.jpg')} widths={[50, 100, 800]} sizes="(max-width: 400px) 50vw, (max-width: 800px) 100vw, 800px"  alt="some desc."/>
    <Picture src={import('../../images/P1000453.jpg')} widths={[50, 100, 800]} sizes="(max-width: 400px) 50vw, (max-width: 800px) 100vw, 800px"  alt="some desc."/>
  </main>
</Layout>